<%= form_for @question do |f| %>
  <h2><%= f.label "What's your question?" %></h2>
  <p>
    <strong><p><%= f.label "Title:" %></p></strong>
    <%= f.text_field :title, :placeholder => "What is the best book on learning TDD?"%>
  </p>
  <p>
    <strong><p><%= f.label "Content", :class => "hidden" %></p></strong>
    <%= f.text_area :content %>
  </p>
  <p>
    <strong><p><%= f.label "Tags:" %></p></strong>
    <% if @tags %>
      <%= f.text_field :tags, :value => "#{@tags}", :placeholder => "javascript, ruby, etc." %>
    <% else %>
      <%= f.text_field :tags, :value => "", :placeholder => "javascript, ruby, etc." %>
    <% end %>
  </p>
  <%= f.submit "Submit", :class => "submitButton" %>
<% end %>
