<h2><%= @question.content %></h2>

Tags:
<ul>
  <% @question.tags.each do |tag| %>
    <li>
      <%= tag.name %>
    </li>
  <% end %>
</ul>


<%= form_for([@question, Answer.new()]) do |f| %>

<p>
  <%= f.label :content %>
  <%= f.text_area :content %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>

<% unless @question.answers.empty? %>
  <ul>
    <% @answers_sorted.each do |answer| %>
      <li> <%= answer.content %> | <span class=<%="count-#{answer.id}"%>>LIKES: <%=answer.count_total_likes %></span>
      <% if current_user %>
          <%= link_to "Vote Up", vote_path(:answer_id => answer.id, :question_id => @question.id), :data_question => "#{@question.id}", :id => "#{answer.id}", :class => "vote_up" %> /
        <%= link_to "Vote Down", vote_path(:answer_id => answer.id, :question_id => @question.id), :data_question => "#{@question.id}", :id => "#{answer.id}", :class => "vote_down" %>
      <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if current_user %>
  <% if is_following?(@question.id) %>
    <%= link_to "Stop following this Question", question_unfollow_path, options = { :method => :post } %>
  <% else %>
    <%= link_to "Follow this Question", question_follow_path, options = { :method => :post } %>
  <% end %>
<% end %>
