<h2 class="questionTitle"><%= @question.title %></h2>

<p class="questionDate"><%= fix_datetime(@question.created_at) %></p>

<div class="followStatus">
  <% if current_user && (current_user != @question.user) %>
    <% if is_following?(@question.id) %>
      <%= link_to "Unfollow this question", question_unfollow_path, options = { :method => :post } %>
    <% else %>
      <%= link_to "Follow this question", question_follow_path, options = { :method => :post } %>
    <% end %>
  <% end %>
</div>


<p class="questionContent"><%= @question.content%></p>
<% unless @tags.empty? %>
<strong>Tags:</strong>
  <ul class="tagsList">
    <% @tags.each do |tag| %>
      <li>
        <%= link_to tag.name, tag %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@question, Answer.new] do |f| %>

<p>
  <strong><%= f.label "Your answer:" %></strong> <br>
  <%= f.text_area :content %>
</p>

<p>
  <%= f.submit "Submit", :class => "submitButton" %>
</p>

<% end %>
<h3 class="answersList">All answers:</h3>
<ul class="answers">
  <% unless @question.answers.empty? %>
      <% @answers_sorted.each do |answer| %>
        <%= render partial: "answers/answer_item", locals: { answer: answer } %>
      <% end %>
  <% end %>
</ul>


