<h2><%= @question.title %></h2>
<p><%= @question.content%></p>
<p><%= @question.created_at %></p>
<% unless @tags.empty? %>
<strong>Tags:</strong>
  <ul class="tagsList">
    <% @tags.each do |tag| %>
      <li>
        <%= link_to tag.name, tag %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@question, Answer.new] do |f| %>

<p>
  <strong><%= f.label "Your answer:" %></strong> <br>
  <%= f.text_area :content %>
</p>

<p>
  <%= f.submit, :class => "submitButton" %>
</p>

<% end %>
<h3 class="answersList">All answers:</h3>
<ul class="answers">
  <% unless @question.answers.empty? %>
      <% @answers_sorted.each do |answer| %>
        <%= render partial: "answers/answer_item", locals: { answer: answer } %>
      <% end %>
  <% end %>
</ul>

<% if current_user && (current_user != @question.user) %>
  <% if is_following?(@question.id) %>
    <%= link_to "Stop following this Question", question_unfollow_path, options = { :method => :post } %>
  <% else %>
    <%= link_to "Follow this Question", question_follow_path, options = { :method => :post } %>
  <% end %>
<% end %>
