
<h2>User Profile</h2>
<%= image_tag @user.avatar_url, size: "100x100" %>
<h2><%= @user.email %></h2>

<h3>Your Questions</h3>
<% unless @user.questions.empty? %>
  <ul>
  <% @user.questions.each do |question| %>
    <li>
      <%= link_to question.title, question %>
      <% if my_profile? %>
        <%= link_to "Edit", edit_question_path(question) %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% else %>
  <p>You have no questions</p>
<% end %>


<h3>Following:</h3>
<% unless @user.followed_questions.empty? %>
  <ul>
    <% @user.followed_questions.each do |question| %>
      <li><%= link_to question.title, question %></li>
    <% end %>
  </ul>
<% else %>
  <p>You are not following any questions.</p>
<% end %>
