
<h2>User profile</h2>
<%= image_tag @user.avatar_url, :class => "profile_gravatar" %>
<p><%= @user.email %></p>

<h3>Your questions:</h3>
<% unless @user.questions.empty? %>
  <ul class="userQuestions">
  <% @user.questions.each do |question| %>
    <li>
      <%= link_to question.title, question %>
      <% if my_profile? %>
        <%= link_to "Edit", edit_question_path(question) %>
        <%= link_to "Delete", question, :method => :delete, :confirm => 'Are you sure?' %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% else %>
  <p>You have no questions.</p>
<% end %>


<h3>Following:</h3>
<% unless @user.followed_questions.empty? %>
  <ul>
    <% @user.followed_questions.each do |question| %>
      <li><%= link_to question.title, question %></li>
    <% end %>
  </ul>
<% else %>
  <p>You are not following any questions.</p>
<% end %>
