<div id="index-top"> 
  <%if @user %>
    <%= link_to @user.name, @user %>
    <%= @user.email %>
  <% end %>
</div>

<% if logged_in? %>
  <h3 class="ask-question"><%= link_to "Ask A Question", new_question_path %></h3>
<% else %>
  <h4> <a class='sign-in' href='/signin'>Sign In to Ask a Question</a></h4>
<% end %>

<%= form_tag root_path, :method => 'get', class: "search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% if current_user %>
  <h2>Your Questions</h2>
    <ul>
      <% if @user.questions.empty? %>
        <p>You have no questions.</p>
      <% else %>
        <% @user.questions.each do |question| %>
          <li> <%= link_to question.content, question %></li>
        <% end %>
      <% end %>
    </ul>
<% end %>

<h2>All Questions</h2>

<div id="live-search">
  <%= render "live_search", 
      :object => @questions, 
      :object => @answers    %>
</div>







