<li id="answer_<%=answer.id%>">
  <p>
    <%= answer.content %>

    <% if my_answer?(answer) %>
      <%= link_to 'Edit', [:edit, @question, answer], :class => "editAnswer", :id => "answer_edit_#{answer.id}" %>

      <%= link_to 'Delete', [@question, answer], :method => :delete, :class => "deleteAnswer", :id => "answer_delete_#{answer.id}", :confirm => 'Are you sure?' %>
      <% end %>
</p>

  <span class=<%="count-#{answer.id}"%>>LIKES: <%=answer.count_total_likes %></span>

<div class="vote_info">
  <% if current_user %>
    <%= link_to image_tag('up_gray.png'), vote_path(:answer_id => answer.id, :question_id => @question.id), :data_question => "#{@question.id}", :id => "#{answer.id}", :class => "vote_up" %>
    <%= link_to image_tag('down_gray.png'), vote_path(:answer_id => answer.id, :question_id => @question.id), :data_question => "#{@question.id}", :id => "#{answer.id}", :class => "vote_down" %>
  <% end %>
</div>
</li>
