<!DOCTYPE html>
<html>
<head>
  <title>AskDeebs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
<ul>
  <li><%= link_to "Home", root_path %></li>
<% if current_user %>
  <li><%= link_to "Profile", current_user %></li>
  <li><%= link_to "Logout", logout_path %></li>
<% else %>
  <li><%= link_to "Sign in to Socrates", signin_path %></li>
<% end %>
</ul>
</nav>
<%= yield %>

</body>
</html>
